{% extends "base.html" %}
{% block body %}

<div class="decks">
{% for i in range(5) %}
    <div class="card deck deck-{{ loop.revindex0 }}">&nbsp;</div>
{% endfor %}
{% for i in range(5) %}
    <div class="card discarded discarded-{{ loop.index0 }}">&nbsp;</div>
{% endfor %}
    <div class="card drawn">&nbsp;</div>
</div>

{% for player in game.players %}
<div class="hand" data-player="{{ player.name }}" data-player-index="{{ loop.index0 }}">
    <header>{{ player.name }}</header>
    <div class="state">state</div>
    {% for i in range(12) %}
    <div class="card" data-card-index="{{ i }}" style="grid-area:a{{ i }}">&nbsp;</div>
    {% endfor %}
</div>
{% endfor %}

<div class="dialog results">
<h1>Round finished</h1>
<table>
    <thead>
        <th>Round</th>
{% for p in game.players %}
        <th>{{ p.name }}</th>
{% endfor %}
    </thead>
    <tbody>
    </tbody>
    <tfoot>
        <th>Sum</th>
{% for p in game.players %}
        <th></th>
{% endfor %}
    </tfoot>
</table>

<button class="next_round">Start next round</button>

</div>
<script>
    $(function() {
        $(".next_round").click(function()
        {
            $(".results button.next_round").prop("disabled", true);
            next_round();
        });
        update();
    });
</script>

{% endblock body %}