{% extends "base.html" %}
{% block body %}

<h1>{{ game.name }}</h1>

Waiting for players to join...

<ul id="players">
</ul>

<form action="start" method="POST">
    <button type="submit">Start Game</button>
</form>

<script>
    function update()
    {
        $.get('{{ url_for('state', session=session) }}').done(function(data) {
            if (data.state != 'State.INIT')
            {
                location.href = '{{ url_for('main', session=session) }}';
            }
            let list = $('#players').empty();
            for (const p of data.players)
            {
                $('<li/>').text(p.name).appendTo(list);
            }
            window.setTimeout(update, 1000);
        });
    }

    $(update);
</script>
{% endblock body %}